<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Calories tracker</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
	
    <script type="text/javascript">
		angular.module("calorific", ["ionic"]);
	</script>
 
  </head>
  <body ng-app="calorific">
   
		<ion-nav-view>
		 <ion-tabs>
	 
		<ion-tab title="Breakfast">
			<ion-view>
	   
				<h1> 
				Calories consumed for Breakfast
				 
				</h1>
				<div class="item item-button-left">
				Breakfast
				<button class="button button-royal"ng-click="Breakfast = Breakfast + 10" ng-init="count=0">
				  <i class="icon ion-edit"></i>
				  </button>
				</but<span>
                  Calories =: {{Breakfast}}
                 </span> 
			  </div>
			  <img src="img/bk.jpg" width="600" height="475"></img>
			</ion-view>
  </ion-tab>
		   <ion-tab title="Lunch">
			<ion-view>
				<h1>
				Calories consumed for Lunch
				</h1>
				<div class="item item-button-left">
				Lunch 
				<button class="button button-royal"ng-click="Lunch = Lunch + 10" ng-init="count=0">
				  <i class="icon ion-edit"></i>
				  </button>
				</but<span>
                  Calories =: {{Lunch}}
                 </span> 
			  </div>
			  <img src="img/sn.jpg " width="600" height="475"></img>
			</ion-view>
		  </ion-tab>

			
		
		  <ion-tab title="Dinner">
		  
			<ion-view>
				<h1>
				Calories consumed for Dinner
				</h1>
				<div class="item item-button-left">
				Dinner
				<button class="button button-royal"ng-click="Dinner = Dinner + 10" ng-init="count=0">
				  <i class="icon ion-edit"></i>
				  </button>
				</but<span>
                  Calories =: {{Dinner}}
                 </span>
			  </div>
			  <img src="img/dr.jpg " width="600g" height="475"></img>
			</ion-view>
		  </ion-tab>

		  <ion-tab title="Calories">
			<ion-view>
				<h1>
				Total calories consumed >>>
				</h1>
				<div class="item item-button-left">
				Calories
				<!--<button class="button button-royal" ng-init="Calories= Breakfast + Lunch + Dinner" >-->
				<button class="button button-energized"ng-click="Calories = Calories + 10" ng-init="Calories>
				  <i class="icon ion-edit"></i>
				  </button>
				</but<span>
               
			   
				Calories =: {{Calories}}  

				  
                 </span>
			  </div>
			  <img src="img/cal.jpg "width="600" height="475"></img>
			</ion-view>
		  </ion-tab>

		</ion-tabs>
		
	
	</ion-nav-view><div ng-controller="Main">
  <input type="text" ng-model="rootFolders">
</div>
 	
  </body>
			 
</html>
